.form {
  margin-bottom: 3.2rem;
}

.lost {
  display: inline-block;
  color: #666;
  padding: 0.8rem 0;
  line-height: 1;
  font-size: 1.8rem;
}

.lost::after {
  content: "";
  height: 2px;
  width: 100%;
  background: currentColor;
  display: block;
}

.register {
  margin-top: 6.4rem;
  font-size: 1.8rem;
  color: var(--gray-20);
}

.register p {
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}

.subtitle {
  font-family: var(--type-second);
  line-height: 1;
  font-size: 3.2rem;
}

.subtitle::after {
  content: "";
  display: block;
  background: #ddd;
  height: 0.8rem;
  width: 4.8rem;
  border-radius: 4px;
}
