.feed {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  margin-bottom: 1.6rem;
  justify-items: center;
}

@media (max-width: 640px) {
  .feed {
    grid-template-columns: 1fr 1fr;
  }
}
