.containerModal {
  width: 90rem;
  /* height: 20rem; */
  margin: 0 auto;
  background: var(--white);
  border-radius: 4px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.img {
  grid-column: 1 / 3;
}

.postInfos {
  padding: 3.2rem 3.2rem 0;
}

.author {
  display: flex;
  justify-content: space-between;
}

.author > span {
  color: var(--gray-20);
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  opacity: 0.6;
}

.author > span svg {
  margin-right: 0.4rem;
}

.title {
  font-size: 4.8rem;
  line-height: 1.3;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: var(--gray-20);
  margin: 1.2rem 0 1.8rem;
  position: relative;
}

.dogInfos {
  margin-left: 1.2rem;
  margin-bottom: 3.2rem;
}

.dogInfos > span {
  color: var(--gray-20);
  font-size: 1.8rem;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  position: relative;
}

.dogInfos > span + span {
  margin-left: 3.2rem;
}

.dogInfos > span::before {
  content: "";
  width: 0.2rem;
  height: 1.8rem;
  position: absolute;
  top: 0;
  left: -1.2rem;
  background: var(--gray-20);
}

.comments {
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  color: var(--gray-20);
}
