.postsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 9.6rem;
  margin-bottom: 4rem;
}

.post {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.post:hover .views {
  opacity: 1;
}

.post:nth-child(2),
.post:nth-child(8) {
  grid-column: 2/ -1;
  grid-row: span 2;
}

.views {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: 0.2s;
  width: 100%;
  height: 100%;
  background: #08030334;
  color: var(--white);
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  cursor: pointer;
}

.views svg {
  margin-right: 0.4rem;
}
