.photoPost {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
  margin-bottom: 3.2rem;
}

.file {
  margin-bottom: 1.6rem;
}

.preview {
  border-radius: 8px;
  background-size: cover;
  background-position: center center;
}

.preview::after {
  content: "";
  display: block;
  height: 0px;
  padding-bottom: 100%;
}
