:root {
  --primary-color: #ffbb11;
  --secondary-color: #764701;
  --gray-20: #333333;
  --white: #ffffff;
  --type-first: Helvetica, Arial, sans-serif;
  --type-second: Georgia, "Times New Roman", Times, serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 1.6rem;
  font-family: var(--type-first);
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}

.mainContainer {
  margin-top: 7.8rem;
}

img {
  display: block;
  width: 100%;
}

main {
  min-height: 100vh;
}

.detail {
  position: relative;
  font-size: 4.8rem;
  line-height: 1.3;
  color: var(--gray-20);
  font-family: var(--type-second);
  z-index: 1;
  margin-left: 1rem;
}

.detail::after {
  content: "";
  display: block;
  width: 27px;
  height: 27px;
  background: var(--primary-color);
  position: absolute;
  left: -10px;
  bottom: 8px;
  z-index: -1;
  border-radius: 4px;
}

.fadeRight {
  transform: translateX(-20px);
  opacity: 0;
  animation: fadeRight 0.5s forwards;
}

@keyframes fadeRight {
  to {
    transform: initial;
    opacity: initial;
  }
}

.zoomIn {
  transform: scale(0.5);
  animation: zoomIn 0.1s ease-in forwards;
}

@keyframes zoomIn {
  to {
    transform: initial;
  }
}

.VictoryContainer {
  height: initial !important;
}
