.imageContainer {
  display: grid;
}

.img {
  grid-area: 1/1;
  opacity: 0;
  transition: 0.2s;
}

.skeleton {
  grid-area: 1/1;
  height: 100%;
  background: linear-gradient(90deg, #eee 0%, #fff 50%, #eee 100%);
  animation: skeleton 1.5s infinite linear;
  background-size: 200%;
}

@keyframes skeleton {
  from {
    background-position: 0px;
  }
  to {
    background-position: -200%;
  }
}
